In [1]:
import selenium
import pickle
import basketball
import requests

import pandas as pd

from bs4 import BeautifulSoup

In [5]:
with open('database.pickle', 'rb') as f:
    database = pickle.load(f)
    
teams = list(database.keys())
print(teams)

['MIA', 'ORL', 'PHI', 'NYK', 'BOS', 'WAS', 'NJN', 'IND', 'ATL', 'DET', 'MIL', 'CHH', 'TOR', 'CLE', 'CHI', 'SAS', 'UTA', 'HOU', 'MIN', 'DAL', 'DEN', 'VAN', 'POR', 'LAL', 'PHO', 'SAC', 'SEA', 'GSW', 'LAC']

In [6]:
# let's work with just San Antonio now
spurs_dfs = database['SAS']

In [7]:
# this is the per 36 minute dataframe. I want to use this in order
# to normalize based minutes played. 

spurs_dfs[6].head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,Rk,,Age,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
1,1,Tim Duncan,22,50,50,1963,7.7,15.5,.495,0.0,...,.690,2.9,7.6,10.5,2.2,0.8,2.3,2.7,2.7,19.9
2,2,Avery Johnson,33,50,50,1672,4.7,9.9,.473,0.0,...,.568,0.5,2.1,2.5,7.9,1.1,0.2,2.4,2.2,10.5
3,3,David Robinson,33,49,49,1554,6.2,12.2,.509,0.0,...,.658,3.4,8.0,11.4,2.4,1.6,2.8,2.5,3.3,18.0
4,4,Sean Elliott,30,50,50,1509,5.0,12.1,.410,0.9,...,.757,0.8,4.2,5.1,2.8,0.6,0.4,1.7,2.5,13.4

__Column meanings for Per 36 Min table.__
___

Rk -- Rank

Age -- Age of Player at the start of February 1st of that season.

G -- Games

GS -- Games Started

MP -- Minutes Played

FG -- Field Goals Per 36 Minutes

FGA -- Field Goal Attempts Per 36 Minutes

FG% -- Field Goal Percentage

3P -- 3-Point Field Goals Per 36 Minutes

3PA -- 3-Point Field Goal Attempts Per 36 Minutes

3P% -- 3-Point Field Goal Percentage

2P -- 2-Point Field Goals Per 36 Minutes

2PA -- 2-Point Field Goal Attempts Per 36 Minutes

2P% -- 2-Point Field Goal Percentage

FT -- Free Throws Per 36 Minutes

FTA -- Free Throw Attempts Per 36 Minutes

FT% -- Free Throw Percentage

ORB -- Offensive Rebounds Per 36 Minutes

DRB -- Defensive Rebounds Per 36 Minutes

TRB -- Total Rebounds Per 36 Minutes

AST -- Assists Per 36 Minutes

STL -- Steals Per 36 Minutes

BLK -- Blocks Per 36 Minutes

TOV -- Turnovers Per 36 Minutes

PF -- Personal Fouls Per 36 Minutes

PTS -- Points Per 36 Minutes

In [8]:
# let's pull all per 36 min dfs

dfs_per_36 = {}

for team, dfs in database.items():
    clean_df = dfs[6].copy()
    clean_df.iloc[0,1] = 'Name'
    clean_df.columns = clean_df.iloc[0,:]
    clean_df.drop(0, inplace=True)
    clean_df.reset_index(inplace=True, drop=True)
    dfs_per_36[team] = clean_df
    
dfs_per_36['SAS']

,Rk,Name,Age,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Tim Duncan,22,50,50,1963,7.7,15.5,.495,0.0,...,.690,2.9,7.6,10.5,2.2,0.8,2.3,2.7,2.7,19.9
1,2,Avery Johnson,33,50,50,1672,4.7,9.9,.473,0.0,...,.568,0.5,2.1,2.5,7.9,1.1,0.2,2.4,2.2,10.5
2,3,David Robinson,33,49,49,1554,6.2,12.2,.509,0.0,...,.658,3.4,8.0,11.4,2.4,1.6,2.8,2.5,3.3,18.0
3,4,Sean Elliott,30,50,50,1509,5.0,12.1,.410,0.9,...,.757,0.8,4.2,5.1,2.8,0.6,0.4,1.7,2.5,13.4
4,5,Mario Elie,35,47,37,1291,4.4,9.2,.471,1.1,...,.866,1.0,2.8,3.8,2.5,1.3,0.3,1.7,2.5,12.7
5,6,Jaren Jackson,31,47,13,861,4.5,11.9,.380,2.2,...,.821,0.9,3.3,4.1,2.0,1.7,0.4,1.5,2.6,12.6
6,7,Steve Kerr,33,44,0,734,3.3,8.5,.391,1.2,...,.886,0.3,1.9,2.2,2.4,1.1,0.1,1.1,1.4,9.4
7,8,Jerome Kersey,36,45,0,699,3.5,10.3,.340,0.2,...,.429,2.2,4.5,6.7,2.1,1.9,0.7,1.5,4.7,7.5
8,9,Antonio Daniels,23,47,0,614,4.9,10.7,.454,0.3,...,.754,0.8,2.4,3.2,6.2,1.8,0.4,2.6,2.3,12.9
9,10,Malik Rose,24,47,0,608,5.5,11.9,.463,0.0,...,.671,5.3,5.4,10.8,1.7,2.4,1.3,3.3,7.1,16.8
10,11,Will Perdue,33,37,1,445,3.1,4.9,.633,0.0,...,.538,2.7,8.5,11.2,1.5,0.7,0.8,1.8,5.1,7.3
11,12,Gerard King,26,19,0,63,3.4,8.0,.429,0.0,...,.611,3.4,4.6,8.0,2.3,1.1,0.6,2.3,6.9,13.1
12,13,Andrew Gaze,33,19,0,58,5.0,15.5,.320,3.1,...,,1.2,1.9,3.1,3.7,1.2,0.6,2.5,4.3,13.0
13,14,Brandon Williams,23,3,0,4,0.0,0.0,,0.0,...,.500,9.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,18.0

In [12]:
# we also want the salaries for all the players
salaries = {}

for team, dfs in database.items():
    new_df = dfs[-1].copy()
    new_df.iloc[0,1] = 'Name'
    new_df.columns = new_df.iloc[0, :]
    new_df.drop(0, inplace=True)
    new_df.reset_index(inplace=True, drop=True)
    
    # money to float
    new_df['Salary'].replace('\D', '', regex=True, inplace=True)
    new_df['Salary'] = pd.to_numeric(new_df['Salary'])
    salaries[team] = new_df
    
salaries

{'MIA': 0   Rk             Name    Salary
 0    1  Alonzo Mourning  13130000
 1    2     Tim Hardaway   5600000
 2    3   Jamal Mashburn   5033000
 3    4       P.J. Brown   4480000
 4    5      Dan Majerle   3290000
 5    6    Voshon Lenard   2837000
 6    7  Mark Strickland   2100000
 7    8   Duane Causwell   1454000
 8    9      Terry Mills   1145000
 9   10     Terry Porter   1000000
 10  11     Blue Edwards    850000
 11  12     Keith Askins    725000
 12  13     Marty Conlon    662500
 13  14      Rex Walters    537500, 'ORL': 0   Rk               Name   Salary
 0    1  Anfernee Hardaway  8505000
 1    2       Horace Grant  7843000
 2    3         Mark Price  5488000
 3    4       Isaac Austin  5000000
 4    5      Nick Anderson  3200000
 5    6       Derek Strong  3000000
 6    7  Darrell Armstrong  2900000
 7    8     Gerald Wilkins  2000000
 8    9         Yinka Dare  1657000
 9   10          Bo Outlaw  1150000
 10  11     Michael Doleac  1050000
 11  12      Danny Schayes  1000000
 12  13  Dominique Wilkins  1000000
 13  14      Matt Harpring   900000
 14  15     B.J. Armstrong   850000
 15  16    Jonathan Kerner   287500
 16  17        Miles Simon   287500, 'PHI': 0   Rk              Name   Salary
 0    1       Matt Geiger  6800000
 1    2      Theo Ratliff  6000000
 2    3   Derrick Coleman  5600000
 3    4       Tyrone Hill  5352000
 4    5     Allen Iverson  3537000
 5    6        Brian Shaw  3400000
 6    7       Rex Walters  1625000
 7    8       Aaron McKie  1430000
 8    9      Larry Hughes  1330000
 9   10       Rick Mahorn  1000000
 10  11      George Lynch  1000000
 11  12      Harvey Grant  1000000
 12  13    Anthony Parker   867120
 13  14         Eric Snow   846300
 14  15      Doug Overton   600000
 15  16     Nazr Mohammed   535000
 16  17  Jerald Honeycutt   300000
 17  18        Casey Shaw   287500, 'NYK': 0   Rk              Name    Salary
 0    1     Patrick Ewing  18500000
 1    2     Larry Johnson  10186000
 2    3  Latrell Sprewell   8300000
 3    4     Allan Houston   7000000
 4    5      Chris Childs   3640000
 5    6      Marcus Camby   3164000
 6    7       Kurt Thomas   1750000
 7    8     Buck Williams   1670000
 8    9      Charlie Ward   1221000
 9   10      Dennis Scott   1000000
 10  11     Herb Williams   1000000
 11  12     David Wingate   1000000
 12  13    Mirsad Turkcan    739400
 13  14         Ben Davis    425000
 14  15      Rick Brunson    350000, 'BOS': 0   Rk               Name   Salary
 0    1     Kenny Anderson  5845000
 1    2        Dana Barros  3500000
 2    3         Greg Minor  2520000
 3    4         Dino Radja  2500000
 4    5     Pervis Ellison  2420000
 5    6       Popeye Jones  2381000
 6    7        Tony Battie  2238000
 7    8     Antoine Walker  2107000
 8    9         Ron Mercer  2033000
 9   10   Vitaly Potapenko  1339000
 10  11        Paul Pierce  1165000
 11  12     Walter McCarty   975000
 12  13      Dontae' Jones   953856
 13  14  Dwayne Schintzius   662500
 14  15         Eric Riley   537500
 15  16        Bruce Bowen   507000
 16  17     Marlon Garnett   287500
 17  18        Damon Jones   287500, 'WAS': 0   Rk              Name    Salary
 0    1      Juwan Howard  13125000
 1    2       Otis Thorpe   4400000
 2    3   Calbert Cheaney   4000000
 3    4    Mitch Richmond   2500000
 4    5      Tracy Murray   2380000
 5    6       Terry Davis   1750000
 6    7     Chris Whitney   1440000
 7    8        Tim Legler   1320000
 8    9  Lorenzo Williams   1316000
 9   10       Ben Wallace    800000
 10  11        John Coker    350000
 11  12      Jeff McInnis    350000
 12  13   Randell Jackson    287500, 'NJN': 0   Rk                Name    Salary
 0    1     Jayson Williams  11000000
 1    2        Kendall Gill   5000000
 2    3        Rony Seikaly   4252000
 3    4       Jim McIlvaine   4200000
 4    5      Keith Van Horn   3054000
 5    6     Stephon Marbury   2562000
 6    7        Michael Cage   2350000
 7    8        Elliot Perry   2000000
 8    9       Kerry Kittles   1762000
 9   10        Eric Murdock   1750000
 10  11      Lucious Harris   1680000
 11  12       Scott Burrell   1000000
 12  13          Chris Carr   1000000
 13  14    Gheorghe Muresan    475000
 14  15        David Vaughn    450000
 15  16         Jamie Feick    425000
 16  17    Mark Hendrickson    425000
 17  18  William Cunningham    350000, 'IND': 0   Rk              Name   Salary
 0    1         Rik Smits  8500000
 1    2     Reggie Miller  6781000
 2    3     Derrick McKey  4200000
 3    4        Dale Davis  4038000
 4    5      Mark Jackson  3600000
 5    6      Chris Mullin  3510000
 6    7     Antonio Davis  3500000
 7    8       Travis Best  2750000
 8    9        Jalen Rose  2145000
 9   10       Sam Perkins  1785000
 10  11  Haywoode Workman  1440000
 11  12   Austin Croshere  1340000
 12  13      Fred Hoiberg   600000
 13  14     Al Harrington   543000
 14  15         Mark Pope   382000
 15  16       Mate Skelin   287500, 'ATL': 0   Rk              Name    Salary
 0    1   Dikembe Mutombo  11218000
 1    2       Steve Smith   6300000
 2    3    Alan Henderson   4725000
 3    4        Ken Norman   3775000
 4    5   Mookie Blaylock   3600000
 5    6        Grant Long   2977000
 6    7     Tyrone Corbin   2400000
 7    8    LaPhonso Ellis   1750000
 8    9   Anthony Johnson   1000000
 9   10         Mark West   1000000
 10  11           Ed Gray    832440
 11  12    Roshown McLeod    740000
 12  13    Chris Crawford    350000
 13  14  Jeffrey Sheppard    287500, 'DET': 0   Rk                Name   Salary
 0    1          Grant Hill  6675000
 1    2  Christian Laettner  5360000
 2    3          Bison Dele  4860000
 3    4    Jerry Stackhouse  3887000
 4    5          Loy Vaught  3830000
 5    6      Lindsey Hunter  2050000
 6    7       Eric Montross  1760000
 7    8          Joe Dumars  1000000
 8    9        Scot Pollard   940920
 9   10  Randolph Childress   866320
 10  11        Jud Buechler   850000
 11  12            Don Reid   800000
 12  13     Jerome Williams   737880
 13  14       Khalid Reeves   475000
 14  15    Charles O'Bannon   320000
 15  16      Korleone Young   287500, 'MIL': 0   Rk              Name   Salary
 0    1    Glenn Robinson  6380000
 1    2     Chris Gatling  4266000
 2    3    Scott Williams  3300000
 3    4     Armen Gilliam  3244000
 4    5       Sam Cassell  3000000
 5    6     Ervin Johnson  2594000
 6    7         Ray Allen  2320000
 7    8        Tim Thomas  1856000
 8    9   Vinny Del Negro  1750000
 9   10    Robert Traylor  1590000
 10  11        Dell Curry  1000000
 11  12        Paul Grant   903240
 12  13  Haywoode Workman   600000
 13  14     Michael Curry   550000
 14  15     Adonis Jordan   350000, 'CHH': 0   Rk             Name   Salary
 0    1   Elden Campbell  7000000
 1    2  Derrick Coleman  6667000
 2    3    Anthony Mason  4165000
 3    4     Bobby Phills  3480000
 4    5      Eddie Jones  2200000
 5    6     David Wesley  2160000
 6    7         Joe Wolf  1000000
 7    8     Chuck Person  1000000
 8    9     Chucky Brown   850000
 9   10      Ricky Davis   680000
 10  11       Corey Beck   425000
 11  12      Brad Miller   287500, 'TOR': 0   Rk              Name    Salary
 0    1    Charles Oakley  10186000
 1    2    Sharone Wright   4000000
 2    3         Dee Brown   3750000
 3    4  Micheal Williams   2975000
 4    5     Doug Christie   2353000
 5    6      Kevin Willis   2100000
 6    7      Vince Carter   1760000
 7    8     Tracy McGrady   1563000
 8    9        B.J. Tyler   1411000
 9   10      John Wallace   1021000
 10  11   Michael Stewart   1000000
 11  12       John Thomas    737000
 12  13     Negele Knight    537500
 13  14     Reggie Slater    400000
 14  15        Sean Marks    287500
 15  16       Paul Rogers    287500, 'CLE': 0   Rk              Name   Salary
 0    1        Shawn Kemp  9740000
 1    2     Wesley Person  4200000
 2    3       Danny Ferry  4000000
 3    4          Bob Sura  3133000
 4    5   Andrew DeClercq  1440000
 5    6    Derek Anderson  1273000
 6    7     Brevin Knight  1092000
 7    8     Johnny Newman  1000000
 8    9      Corie Blount   537500
 9   10   Mitchell Butler   537500
 10  11      Earl Boykins   287500
 11  12        Ryan Stack   287500
 12  13  Cedric Henderson   250000, 'CHI': 0   Rk             Name   Salary
 0    1       Ron Harper  5280000
 1    2       Toni Kukoc  4610000
 2    3      Brent Barry  3600000
 3    4      Andrew Lang  3068000
 4    5     Chuck Person  2860000
 5    6      Mark Bryant  2050000
 6    7      Randy Brown  1320000
 7    8  Bill Wennington  1000000
 8    9       Roy Rogers   862560
 9   10  Martin Muursepp   763200
 10  11      Keith Booth   687240
 11  12   Corey Benjamin   540000
 12  13     Jeff Sanders   475000
 13  14      Rusty LaRue   350000
 14  15      Bubba Wells   312000
 15  16        Cory Carr   287500
 16  17     Kornel David   287500
 17  18    Charles Jones   287500, 'SAS': 0   Rk              Name    Salary
 0    1    David Robinson  14841000
 1    2      Sean Elliott   5333000
 2    3     Charles Smith   4375143
 3    4       Will Perdue   4373000
 4    5        Tim Duncan   3413000
 5    6     Avery Johnson   3000000
 6    7   Antonio Daniels   2472000
 7    8        Steve Kerr   1774000
 8    9        Mario Elie   1750000
 9   10     Jerome Kersey   1000000
 10  11        Malik Rose    425000
 11  12       Andrew Gaze    350000
 12  13       Gerald King    287500
 13  14  Brandon Williams    287500, 'UTA': 0   Rk              Name   Salary
 0    1       Karl Malone  6142000
 1    2     Greg Ostertag  4333000
 2    3     John Stockton  4000000
 3    4     Jeff Hornacek  3455000
 4    5     Bryon Russell  3428000
 5    6        Adam Keefe  2650000
 6    7       Todd Fuller  1461000
 7    8     Howard Eisley  1400000
 8    9  Shandon Anderson  1300000
 9   10      Thurl Bailey   850000
 10  11     Jacque Vaughn   691560
 11  12       Greg Foster   588000, 'HOU': 0 Rk               Name    Salary
 0  1    Hakeem Olajuwon  12943000
 1  2     Scottie Pippen  11000000
 2  3        Brent Price   2240000
 3  4    Charles Barkley   1000000
 4  5  Michael Dickerson    949600
 5  6         Bryce Drew    857000
 6  7           Sam Mack    545000
 7  8     Anthony Miller    475000
 8  9     Cuttino Mobley    287500, 'MIN': 0   Rk              Name    Salary
 0    1     Kevin Garnett  14000000
 1    2   Terrell Brandon   6300000
 2    3    Anthony Peeler   2254000
 3    4      Dean Garrett   2160000
 4    5         Joe Smith   1750000
 5    6       Bill Curley   1544000
 6    7       Malik Sealy   1000000
 7    8     Bobby Jackson    799200
 8    9      Dennis Scott    725000
 9   10       Brian Evans    686780
 10  11    James Robinson    537500
 11  12  Andrae Patterson    287500
 12  13     Trevor Winter    287500, 'DAL': 0   Rk              Name   Salary
 0    1     Shawn Bradley  6750000
 1    2    Michael Finley  6000000
 2    3        A.C. Green  5125088
 3    4       Robert Pack  3780000
 4    5     Khalid Reeves  2002000
 5    6  Erick Strickland  1920000
 6    7  Hot Rod Williams  1750000
 7    8     Samaki Walker  1619880
 8    9     Dirk Nowitzki  1472640
 9   10        Steve Nash  1190760
 10  11        Gary Trent  1000000
 11  12      Chris Anstey   985200
 12  13   Cedric Ceballos   750000
 13  14      Hubert Davis   645000
 14  15        Ansu Sesay   287500
 15  16      Bruno Sundov   287500, 'DEN': 0   Rk               Name   Salary
 0    1    Antonio McDyess  9000000
 1    2       Bryant Stith  4666000
 2    3      Eric Williams  2780000
 3    4   Chauncey Billups  2742000
 4    5      Raef LaFrentz  2150000
 5    6      Nick Van Exel  1900000
 6    7      Danny Fortson  1485000
 7    8      Johnny Taylor  1037000
 8    9         Keon Clark  1000000
 9   10  Priest Lauderdale   712200
 10  11       Carl Herrera   662500
 11  12    Eric Washington   520000
 12  13        Loren Meyer   450000
 13  14      Kelly McCarty   287500, 'VAN': 0   Rk             Name   Salary
 0    1    Bryant Reeves  7222000
 1    2     Bobby Hurley  4030000
 2    3        Doug West  2915000
 3    4       Mike Bibby  2400000
 4    5    Michael Smith  2180000
 5    6     Carl Herrera  2080000
 6    7   Cherokee Parks  2000000
 7    8     Doug Edwards  1625000
 8    9     Lee Mayberry  1540000
 9   10  Tony Massenburg   900000
 10  11    Pete Chilcutt   700000
 11  12   Rodrick Rhodes   639300
 12  13     Felipe Lopez   600000
 13  14     Terry Dehere   537500
 14  15     Marcus Brown   500000
 15  16     DeJuan Wheat   350000
 16  17   J.R. Henderson   287500
 17  18  Makhtar N'Diaye   287500, 'POR': 0   Rk              Name   Salary
 0    1   Arvydas Sabonis  9000000
 1    2  Damon Stoudamire  9000000
 2    3   Rasheed Wallace  9000000
 3    4       Brian Grant  6000000
 4    5      Isaiah Rider  4810000
 5    6     Stacey Augmon  3200000
 6    7     Walt Williams  3000000
 7    8     Carlos Rogers  2000000
 8    9       Jim Jackson  1750000
 9   10       Kelvin Cato  1149000
 10  11       Bonzi Wells  1100000
 11  12   Jermaine O'Neal  1075000
 12  13      Greg Anthony  1000000
 13  14        Gary Grant  1000000
 14  15        Brian Shaw   850000
 15  16       John Crotty   504000
 16  17   Nikita Morgunov   287500, 'LAL': 0   Rk              Name    Salary
 0    1  Shaquille O'Neal  15000000
 1    2         Glen Rice   5248000
 2    3      Robert Horry   5000000
 3    4    B.J. Armstrong   2800000
 4    5     Travis Knight   2400000
 5    6          Rick Fox   1750000
 6    7        Sean Rooks   1680000
 7    8      Corie Blount   1625000
 8    9       Kobe Bryant   1319000
 9   10      Derek Harper   1000000
 10  11     Dennis Rodman   1000000
 11  12      Derek Fisher    795000
 12  13         J.R. Reid    780000
 13  14   Ruben Patterson    628500
 14  15      Sam Jacobson    559000
 15  16        Tyronn Lue    287500, 'PHO': 0   Rk                 Name   Salary
 0    1        Tom Gugliotta  7800000
 1    2        Danny Manning  6833000
 2    3           Jason Kidd  6041000
 3    4          Luc Longley  4000000
 4    5    Clifford Robinson  3500000
 5    6          Rex Chapman  2800000
 6    7         Chris Morris  1000000
 7    8           Joe Kleine  1000000
 8    9       George McCloud   750000
 9   10          Pat Garrity   740000
 10  11  Horacio Llamas Grey   425000
 11  12          Marko Milic   350000
 12  13          Toby Bailey   287500
 13  14         Gerald Brown   287500
 14  15     Randy Livingston   287500, 'SAC': 0   Rk                Name    Salary
 0    1        Chris Webber  10000000
 1    2         Vlade Divac   8300000
 2    3      Lionel Simmons   4238500
 3    4        Kevin Gamble   1645000
 4    5      Jason Williams   1460000
 5    6   Tariq Abdul-Wahad   1411000
 6    7      Vernon Maxwell   1000000
 7    8       Oliver Miller    600000
 8    9           Jon Barry    600000
 9   10        Terry Dehere    575000
 10  11  Corliss Williamson    500000
 11  12      Chris Robinson    375000
 12  13     Michael Hawkins    350000
 13  14        Scot Pollard    350000
 14  15        Jerome James    287500, 'SEA': 0   Rk               Name   Salary
 0    1        Gary Payton  8715000
 1    2          Vin Baker  4264000
 2    3     Hersey Hawkins  3644000
 3    4    Detlef Schrempf  3333000
 4    5        Don MacLean  2460000
 5    6         Dale Ellis  1750000
 6    7        Billy Owens  1750000
 7    8     Olden Polynice  1000000
 8    9        John Crotty   600000
 9   10     Aaron Williams   575000
 10  11  Vladimir Stepania   543000
 11  12         Craig Ehlo   504082
 12  13         Drew Barry   350000
 13  14     Moochie Norris   350000
 14  15      Rashard Lewis   287500
 15  16       Jelani McCoy   287500, 'GSW': 0   Rk              Name   Salary
 0    1  Donyell Marshall  4370000
 1    2       John Starks  4000000
 2    3      Jason Caffey  3675000
 3    4       Chris Mills  3600000
 4    5     Muggsy Bogues  2800000
 5    6       Bimbo Coles  2000000
 6    7    Antawn Jamison  1940000
 7    8      Adonal Foyle  1701000
 8    9    Felton Spencer  1650000
 9   10     Erick Dampier  1538000
 10  11     Duane Ferrell  1430000
 11  12    Terry Cummings  1150000
 12  13         Tony Delk  1131000, 'LAC': 0   Rk                Name   Salary
 0    1    Stojko Vrankovic  4060000
 1    2       Lamond Murray  3500000
 2    3     Pooh Richardson  3030000
 3    4       Rodney Rogers  3000000
 4    5  Michael Olowokandi  2700000
 5    6     Sherman Douglas  2200000
 6    7     Lorenzen Wright  1923000
 7    8      James Robinson  1800000
 8    9     Eric Piatkowski  1650000
 9   10         Keith Closs  1440000
 10  11      Maurice Taylor  1209000
 11  12       Charles Smith   677080
 12  13       Brian Skinner   653500
 13  14         Troy Hudson   287500
 14  15        Tyrone Nesby   287500}

In [10]:
len(salaries)*14 # i have 406 datapoints

406

In [13]:
# let's pickle the results

with open('per_36_min.pickle', 'wb') as f:
    pickle.dump(dfs_per_36, f)
    
with open('salaries.pickle', 'wb') as f:
    pickle.dump(salaries, f)